.ww .iw-cn-wrapper {
	background-color: rgba(37, 38, 40, 1);
	background: -webkit-radial-gradient(transparent 20%, rgba(37, 38, 40, 1) 20%);
	background: -moz-radial-gradient(transparent 20%, rgba(37, 38, 40, 1) 20%);
	background: -o-radial-gradient(transparent 20%, rgba(37, 38, 40, 1) 20%);
	background: radial-gradient(transparent 20%, rgba(37, 38, 40, 1) 20%);
}

.ww .iw-cn-wrapper.iw-only-one {
	background-color: transparent;
	background: -webkit-radial-gradient(transparent 20%, transparent 20%);
	background: -moz-radial-gradient(transparent 20%, transparent 20%);
	background: radial-gradient(transparent 20%, transparent 20%);
}

.ww .iw-cn-bg-cover {
	border: 0px solid #fff;
	-webkit-box-shadow: none;
  	-moz-box-shadow: none;
  	-ms-box-shadow: none;
  	-o-box-shadow: none;
  	box-shadow: none;
}

.ww .iw-cn-wrapper li {
	-webkit-box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
	-moz-box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
	-ms-box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
	-o-box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
	box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
}

.ww .iw-cn-wrapper li:last-child {
	-webkit-box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
	-moz-box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
	-ms-box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
	-o-box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
	box-shadow: 0px 4px 0px rgba(37, 38, 40, 1);
	border-right-width: 0;	
}

.ww .iw-cn-wrapper li div, 
.ww .iw-cn-wrapper li a {
	color: rgb(37, 38, 40);
	background-color: rgba(255, 255, 255, .85);
	background: -webkit-radial-gradient(transparent 20%, rgba(255, 255, 255, .85) 20%, rgba(255, 255, 255, .85) 62%, transparent 62%);
	background: -moz-radial-gradient(transparent 20%, rgba(255, 255, 255, .85) 20%, rgba(255, 255, 255, .85) 62%, transparent 62%);
	background: -o-radial-gradient(transparent 20%, rgba(255, 255, 255, .85) 20%, rgba(255, 255, 255, .85) 62%, transparent 62%);
	background: radial-gradient(transparent 20%, rgba(255, 255, 255, .85) 20%, rgba(255, 255, 255, .85) 62%, transparent 62%);
}

.ww .iw-cn-wrapper li div:hover,
.ww .iw-cn-wrapper li a:hover {
	background-color: rgba(255, 255, 255, .9);
	background: -webkit-radial-gradient(transparent 20%, rgba(255, 255, 255, .9) 20%, rgba(255, 255, 255, .9) 62%, transparent 62%);
	background: -moz-radial-gradient(transparent 20%, rgba(255, 255, 255, .9) 20%, rgba(255, 255, 255, .9) 62%, transparent 62%);
	background: -o-radial-gradient(transparent 20%, rgba(255, 255, 255, .9) 20%, rgba(255, 255, 255, .9) 62%, transparent 62%);
	background: radial-gradient(transparent 20%, rgba(255, 255, 255, .9) 20%, rgba(255, 255, 255, .9) 62%, transparent 62%);
}

.ww .iw-cn-button {
	width: 108px;
	height: 108px;
	margin: 2px;
	color: #fff;
	font-size: 16px;
	background-color: rgba(237, 173, 73, 1);
}

.ww .iw-cn-button.iw-opened-nav {
	color: rgb(37, 38, 40);
	background-color: rgba(226, 226, 226, 1);
}

.ww .iw-cn-sm-cover {
	background-color: rgba(37, 38, 40, 1);
}

.ww .iw-form-holder .iw-form {
	background-color: rgba(37, 38, 40, 1);
}

.ww .iw-form-holder .iw-form:after {
	margin-bottom: -9px;
	border-top-color: rgba(37, 38, 40, 1);
}

.ww .iw-form-holder .iw-form-group {
	background-color: rgba(226, 226, 226, 1);
}

.ww .iw-form-contact-link {
	background-color: rgba(236, 174, 73, 1); 
}

.iw-form-contact-link:hover,
.iw-form-link:focus,
.iw-form-link:active {
	background-color: rgba(227, 151, 23, 1); 
}